/*
	* Personal website of Jordan Bechek
	* file: main.css
*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #152839;
	font-family: bp;
	color: #E6E6E6;
}

a {
	text-decoration: none;
	color: #E6E6E6;
}

#wrapper {
	position: relative;
  	min-height: 100%;
}

@font-face {
    font-family: bp;
    src: url("fonts/bp_mono/BPmono.ttf") format("truetype"),
    	 url("fonts/bp_mono/BPmono.eot") format("eot"),
    	 url("fonts/bp_mono/BPmono.woff") format("woff"),
    	 url("fonts/bp_mono/BPmono.svg") format("svg");
}

/* The typing effect */
@keyframes typing {
	  from { width: 0 }
	  to { width: 100% }
}

@keyframes typingApps {
	  from { width: 0 }
	  to { width: 25% }
}

@keyframes typingProj {
	  from { width: 0 }
	  to { width: 33% }
}

@keyframes typingAbt {
	  from { width: 0 }
	  to { width: 41% }
}

@keyframes typingMore {
	  from { width: 0 }
	  to { width: 45% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	  from, to { border-color: transparent }
	  50% { border-color: #1AB423; }
}

#title {
	margin-top: 9%;
	font-size: 7vw;
	font-weight: bold;
}

.typed * {
	overflow: hidden;
	/*border-right: .1em solid rgba(26, 180, 35, 0.3);*/
	white-space: nowrap;
	margin: 2 auto;
	letter-spacing: .15em;
	animation: 
		typing 1.4s steps(13, end)/*,
	    blink-caret .4s step-end infinite;*/;
}

.typed {
	display: inline-block;
}

#intro {
	text-align: center;
}

#attributes {
	margin-top: 20px;
	font-size: 2.5vw;
	font-weight: lighter;
	margin-bottom: 6.5%;
	display: none;
}

#applicationsTitleWrapper {
	margin-top: 0;
	left: 10%;
	width: 247px;
	height: 60px;
	text-align: left;
	position: absolute;
	/*background-color: rgba(4, 8, 11, 0.35);*/
	display: none;
}

#projectsTitleWrapper {
	margin-top: 0;
	right: 10%;
	width: 175px;
	height: 60px;
	text-align: right;
	position: absolute;
	/*background-color: rgba(4, 8, 11, 0.35);*/
	display: none;
}

#aboutTitleWrapper {
	margin-top: 100px;
	left: 10%;
	width: 121px;
	height: 60px;
	text-align: left;
	position: absolute;
	/*background-color: rgba(4, 8, 11, 0.35);*/
	display: none;
}

#moreTitleWrapper {
	margin-top: 100px;
	right: 10%;
	width: 104px;
	height: 60px;
	text-align: right;
	position: absolute;
	/*background-color: rgba(4, 8, 11, 0.35);*/
	display: none;
}

.sectionTitle {
	margin-top: 10px;
	font-weight: bold;
	font-size: 30px;
}

.sectionTitle:hover {
	cursor: pointer;
}

.sectionTitle.unselected:hover {
	border-bottom: 2px solid #1AB423;
	padding-bottom: 3px;
	-webkit-transition: border-color 1s ease;
	-moz-transition: border-color 1s ease;
	-o-transition: border-color 1s ease;
	-ms-transition: border-color 1s ease;
	transition: border-color 1s ease;
}

#content {
	width: 770px;
	margin: auto;
	padding-bottom: 50px;
	/*background-color: rgba(0,0,0,0.2);*/
}

.app, .proj {
	margin-top: 7%;
	width: 250px;
	height: 250px;
	text-align: center;
	display: none;
	/*background-color: rgba(4, 8, 11, 0.2);*/
}

/*.appLeft {
	margin-left: 135px;
}*/

.projLeft {
	margin-left: 0;
}

.appTitle, .projTitle {
	font-size: 25px;
	margin-top: 15px;
}

/*.projTitleWrapper {
	margin-left: 10px;
	margin-top: 2.5%;
}*/

.app img, .proj img {
	width: 100%;
	height: 100%;
  	opacity: 1;
  	transition: .35s ease;
  	backface-visibility: hidden;
}

/*.overlayWrapper:hover img {
	opacity: .3;
}

.folderWrapper:hover img {
	opacity: 0.7;
	cursor: pointer;
}*/

.projTitle:hover {
	cursor: pointer;
}

.overlayTextWrapper {
  	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
  	cursor: pointer;
}

.overlayTextWrapper.overlayTop {
	top: 30%;
}

.overlayTextWrapper.overlayBottom {
	top: 70%;
}

.overlayTextWrapper.overlayCenter {
	top: 50%;
}

.overlayText {
	background-color: rgba(26, 180, 35, 0.85);
	color: #E6E6E6;
	padding-top: 12px;
	padding-bottom: 12px;
}

.overlayAndroid {
	padding-left: 45px;
	padding-right: 45px;
}

.overlayiOS {
	padding-left: 64px;
	padding-right: 64px;
}

.overlayWrapper:hover .overlayTextWrapper {
	opacity: 1;
}

.overlayWrapper, .folderWrapper {
	position: relative;
	width: 150px;
	height: 150px;
	margin-left: 50px;
	margin-top: 35px;
}

.projDesc {
	margin-left: 10px;
}

.projDesc p {
	font-size: 1.25vw;
}

#aboutSection {
	background-color: rgba(0,0,0,0.2);
	height: auto;
	display: none;
}

.aboutContent {
	padding-top: 8%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.aboutContent p {
	margin-bottom: 2px;
	margin-top: 2px;
}

.aboutContent a {
	color: #1AB423;
}

.enterChar {
	color: rgba(26, 180, 35, 0.4);
	font-weight: bolder;
}

#legal {
	text-align: center;
	color: #999;
	font-size: 12px;
	bottom: 7px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	position: absolute;
	display: none;
}

.openInd {
	font-size: 20px;
	color: #1AB423;
	display: none;
	overflow: hidden;
}

#applicationsTitle div.openInd {
	animation: typingApps 0.25s steps(20, end);
}

#projectsTitle div.openInd {
	animation: typingProj 0.25s steps(20, end);
}

#aboutTitle div.openInd {
	animation: typingAbt 0.25s steps(20, end);
}

#moreTitle div.openInd {
	animation: typingMore 0.25s steps(20, end);
}

#moreDiv {
	padding-top: 8%;
	display: none;
}


#languages img {
	width: 110px;
	height: 110px;
}

#software img {
	width: 100px;
	height: 100px;
	padding: 5px;
}

#software img.smallImg {
	width: 82px;
	height: 82px;
	padding: 14px;
}

#software img.xSmallImg {
	width: 72px;
	height: 72px;
	padding: 19px;
}

#interests img {
	width: 84px;
	height: 84px;
	padding: 13px;
}

#interests img.smallImg {
	width: 74px;
	height: 74px;
	padding: 18px;
}

#interests img.largeImg {
	width: 90px;
	height: 90px;
	padding: 10px;
}

.iconSet {
	min-height: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

::selection {
  background: rgba(26, 180, 35, 0.5); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(26, 180, 35, 0.5); /* Gecko Browsers */
}

@media only screen and (max-width: 785px) and (min-width: 10px) {
	.iconSet img {
		margin: auto;
	}

	#content {
		width: 95%;
		height: auto;
	}

	#title {
		margin-top: 11%;
		font-size: 8.8vw;
	}

	#attributes {
		font-size: 4vw;
	}

	#legal {
		font-size: 10px;
	}

	.sectionTitle {
		font-size: 18px;
	}

	#applicationsTitleWrapper {
		margin-top: 0;
		right: 0;
		left: 0;
		margin-left:auto;
		margin-right:auto;
		width: 149px;
		height: auto;
		text-align: center;
	}

	#projectsTitleWrapper {
		margin-top: 0;
		right: 0;
		left: 0;
		margin-left:auto;
		margin-right:auto;
		width: 106px;
		height: auto;
		text-align: center;
	}

	#aboutTitleWrapper {
		margin-top: 0;
		right: 0;
		left: 0;
		margin-left:auto;
		margin-right:auto;
		width: 73px;
		height: auto;
		text-align: center;
	}

	#moreTitleWrapper {
		margin-top: 0;
		right: 0;
		left: 0;
		margin-left:auto;
		margin-right:auto;
		width: 62px;
		height: auto;
		text-align: center;
	}

	.openInd {
		font-size: 12px;
	}

	.app, .proj {
		margin-top: 7%;
		width: 150px;
		height: 150px;
		text-align: center;
		display: none;
		/*background-color: rgba(4, 8, 11, 0.2);*/
	}

	.app img, .proj img {
		width: 100px;
		height: 100px;
	}

	.appTitle, .projTitle {
		font-size: 15px;
	}

	.overlayAndroid {
		padding-left: 22px;
		padding-right: 22px;
	}

	.overlayiOS {
		padding-left: 41px;
		padding-right: 41px;
	}

	.overlayWrapper, .folderWrapper {
		position: relative;
		width: 100px;
		height: 100px;
		margin-left: 25px;
		margin-top: 60px;
	}

	.overlayText {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	#moreDiv h3 {
		margin-top: 50px;
		font-size: 95%;
	}
}

@media only screen and (max-width: 494px) and (min-width: 10px) {
	.sectionTitle.unselected:hover {
		border-bottom: 0px;
		padding-bottom: 0px;
	}

	#databaseProj {
		margin-bottom: 100px;
	}
}
